[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PurpleAirAPI"]
	path = PurpleAirAPI
	url = https://github.com/heba-razzak/purpleairapi
